In [92]:
'Goal is to implement a way to ask and answer a question in terminal'
'Function to pick a category'
'Function to pick a value'
'Ask question'
'Answer using deepgram'

'Answer using deepgram'

In [93]:
import pandas as pd
df = pd.read_csv("jeopardySmall.csv")
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [94]:
'This function picks a random game'
airDates = df[' Air Date']
def pickGame(airDate, df):
    return df[df[' Air Date'] == airDate]
game = pickGame("2010-07-06", df)

In [95]:
'Function to list categories according to their value'
def listCategories(game):
    return game[' Category'].unique()

In [96]:
# Function to pick questions from a specific category within a game
def pickCategory(category, game):
    return game[game[' Category'] == category]

In [97]:
'Function to pick a value from a particular category'
def pickQuestionRow(category,value):
    questionRow = category[category[' Value'] == value]
    return questionRow

In [98]:
def main():
    game = pickGame("2004-12-31", df)
    categories = listCategories(game)
    category = (pickCategory("AIRLINE TRAVEL", game))
    print ("Category is", category)
    print("###########################")
    questionRow = pickQuestionRow(category, "$2,000")
    question = questionRow[' Question']
    answer = questionRow[' Answer']
    print (question, answer)
main()

Category is     Show Number    Air Date             Round        Category   Value  \
31         4680  2004-12-31  Double Jeopardy!  AIRLINE TRAVEL    $400
36         4680  2004-12-31  Double Jeopardy!  AIRLINE TRAVEL    $800
41         4680  2004-12-31  Double Jeopardy!  AIRLINE TRAVEL  $2,000
46         4680  2004-12-31  Double Jeopardy!  AIRLINE TRAVEL   $1600
51         4680  2004-12-31  Double Jeopardy!  AIRLINE TRAVEL   $2000

                                             Question          Answer
31  It can be a place to leave your puppy when you...        a kennel
36  When it began on Pan Am & Qantas in the late '...  business class
41  In 2003 this airline agreed to buy KLM, creati...      Air France
46  In 2004 United launched this new service that ...             Ted
51  In the seat pocket you'll find the catalog cal...            Mall
###########################
41    In 2003 this airline agreed to buy KLM, creati...
Name:  Question, dtype: object 41    Air France
Name:  Answer, dtype: object